<h2>Edit</h2>
<form action="/{{activity.id}}?_method=put" method="post">
    <label>NAME</label>
    <input type="text" value="{{activity.name}}" name="name" required>
    <label>ADDRESS</label>
    <input type="text" value="{{activity.address}}" name="address" required>
    <label>TYPE</label>
    <select name="type" required>
        <option value="{{activity.type}}" hidden="hidden" selected="selected">{{activity.type}}</option>
        <option value="Sightseeing">Sightseeing</option>
        <option value="Arts & Culture">Arts & Culture</option>
        <option value="Outdoor Recreation">Outdoor Recreation</option>
        <option value="Food & Drink">Food & Drink</option>
        <option value="Day Trips">Day Trips</option>
    </select>
    <label>COST</label>
    <input type="number" name="cost" min="0" value="{{activity.cost}}" required>
    <label>DAYS OF OPERATION</label>
    <select name="days" required>
        <option value="{{activity.days}}" hidden="hidden" selected="selected">{{activity.days}}</option>
        <option value="Daily">Daily</option>
        <option value="Weekdays">Weekdays</option>
        <option value="Weekends">Weekends</option>
        <option value="Other">Other</option>
    </select>
    <label>OPENS @</label>
    <select name="open" required>
        <option value="{{activity.open}}" hidden="hidden" selected="selected">{{activity.open}}</option>
        <option value="6:00AM">6:00AM</option>
        <option value="7:00AM">7:00AM</option>
        <option value="8:00AM">8:00AM</option>
        <option value="9:00AM">9:00AM</option>
        <option value="10:00AM">10:00AM</option>
        <option value="11:00AM">11:00AM</option>
        <option value="12:00PM">12:00PM</option>
        <option value="1:00PM">1:00PM</option>
        <option value="2:00PM">2:00PM</option>
        <option value="3:00PM">3:00PM</option>
        <option value="4:00PM">4:00PM</option>
        <option value="5:00PM">5:00PM</option>
        <option value="6:00PM">6:00PM</option>
        <option value="7:00PM">7:00PM</option>
        <option value="Sunrise">Sunrise</option>
    </select>
    <label>CLOSES @</label>
    <select name="close" required>
        <option value="{{activity.close}}" hidden="hidden" selected="selected">{{activity.close}}</option>
        <option value="11:00AM">11:00AM</option>
        <option value="12:00PM">12:00PM</option>
        <option value="1:00PM">1:00PM</option>
        <option value="2:00PM">2:00PM</option>
        <option value="3:00PM">3:00PM</option>
        <option value="4:00PM">4:00PM</option>
        <option value="5:00PM">5:00PM</option>
        <option value="6:00PM">6:00PM</option>
        <option value="7:00PM">7:00PM</option>
        <option value="8:00PM">8:00PM</option>
        <option value="9:00PM">9:00PM</option>
        <option value="10:00PM">10:00PM</option>
        <option value="11:00PM">11:00PM</option>
        <option value="12:00AM">12:00AM</option>
        <option value="Sunset">Sunset</option>
    </select>
    <label>DURATION</label>
    <select name="duration" required>
        <option value="{{activity.duration}}" hidden="hidden" selected="selected">{{activity.duration}}</option>
        <option value="1 Hour">1 Hour</option>
        <option value="2 Hours">2 Hours</option>
        <option value="Half Day">Half Day</option>
        <option value="Full Day">Full Day</option>
    </select>
    <label>WEBSITE</label>
    <input type="url" value="{{activity.url}}" name="url" required>
    <label>IMAGE LINK</label>
    <input type="img" value="{{activity.img}}" name="img" required>
    <label>ADDED BY</label>
    <select name="user" required>
      <option value="{{activity.user}}" hidden="hidden" selected="selected">{{activity.user}}</option>
      <option value="Bonnie">Bonnie</option>
      <option value="Lucas">Lucas</option>
      <option value="Guest">Guest</option>
    </select>
    <label>BEEN THERE DONE THAT</label>
    <select name="done" required>
      <option value="{{activity.done}}" hidden="hidden" selected="selected">{{activity.done}}</option>
      <option value="true">true</option>
      <option value="false">false</option>
    </select>
  <input type="submit" value="Save" />
</form>

<form class="delete" action="/{{activity.id}}?_method=delete" method="post">
    <input type="submit" value="Delete">
</form>

<a href="/{{activity.id}}"><button class="cancel" >Cancel</button></a>