<div class="list">
    <ul>
    {{#each activity}}
        <li class="list-item">
            <h3><a href="/{{this.id}}">{{this.name}}</a></h3>
            <div class="details">
                <p>{{type}}<br>
                ${{cost}}<br>
                {{days}}<br>
                {{hours}}<br>
                {{duration}} minutes<br>
                <a href="{{url}}" target="_blank">Website</a><br>
                </p>
                <div class="list-image">
                <a href="/{{this.id}}"><img src="{{this.imgUrl}}"></a>
                </div>
            </div>
        </li>
    {{/each}}
    </ul>
</div>
