<h2>{{name}}</h2>
<img src="{{this.imgUrl}}">
<ul>
    <li>Type: {{type}}</li>
    <li>Address: {{address}}</li>
    <li>Cost: ${{cost}}</li>
    <li>Hours: {{hours}}</li>
    <li>Time Commitment: {{duration}} minutes</li>
    <li>Website: <a href="{{url}}" target="_blank">{{url}}</a></li>
    <li>Suggested By: {{user}}</li>
    <li>Been there? Done that? {{done}}</li>
</ul>

<button><a href="/edit/{{id}}">Edit</a></button>