<h2>{{name}}</h2>
<ul>
    <li>Type: {{type}}</li>
    <li>Address: {{address}}</li>
    <li>Cost: {{cost}}</li>
    <li>Hours: {{hours}}</li>
    <li>Time Commitment: {{duration}}</li>
    <li>Website: {{url}}</li>
    <li>Suggested By: {{user}}</li>
    <li>Been there? Done that? {{done}}</li>
</ul>